body
{
	margin:0px;
	padding:0px;
	background:#e3eaf4;
}

#wrapper {width:380px;border:0px solid black;margin-left:auto;margin-right:auto;margin-top:20px;}

#table-main {width:100%;background:#f09078;border-radius: 5px;color:#ffffff;font-size:12px;margin-top: 50px}
#table-main th {background:#f67464;font-family:Century Gothic;font-size:14px;}


#div-bg {background:#f9a298;width:90%;height:50px;margin-left:auto;margin-right:auto;text-align:center;line-height:50px;}

.input {padding:5px;border:1px solid #bdb9b9;border-radius: 7px;height:30px;width:90%;margin-top:8px;}

#submit {background:#f67464;padding:7px;color:white;font-family:Arial;font-size:12px;text-align:center;border:1px solid #ffffff;border-radius:3px;width:80px;margin-top:10px;}

#footer {background:#ef6754;color:white;font-family:Arial;font-size:10;text-align:center}
